os: osx

language: swift

branches:
only:
- master

script:
- xcodebuild build -workspace Example/OVReachability.xcworkspace -scheme OVReachability-Example -configuration Debug ONLY_ACTIVE_ARCH=NO CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO | xcpretty;
